* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

@font-face {
  font-family: Pacifico;
  src: url(../../assets/fonts/Pacifico-Regular.ttf);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn-white {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 45px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.btn-white:hover {
  color: #ff6600;
  background-color: #fff;
  border: 2px solid #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 45px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
}

.btn-orange {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 45px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s ease-in;
}
.btn-orange:hover {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
  opacity: 0.8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

@font-face {
  font-family: Pacifico;
  src: url(../../assets/fonts/Pacifico-Regular.ttf);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.about-header {
  background-image: linear-gradient(to right, #ff6600, hsla(30deg, 100%, 1%, 0.2)), url(../../img/banner2.jpeg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 400px;
}
.about-header .container {
  padding-top: 20px;
}
.about-header .container .col-4 .logo h1 {
  color: #fff;
}
.about-header .container .col-8 .row .col-9 .menu ul li {
  list-style: none;
  display: inline;
}
.about-header .container .col-8 .row .col-9 .menu ul li a {
  text-decoration: none;
  margin-left: 5px;
  color: #fff;
  font-weight: 700;
}
.about-header .container .col-8 .row .col-9 .menu ul li a:hover {
  color: #ff6600;
}
.about-header .container .col-8 .row .col-1 .switch {
  color: #fff;
}
.about-header .container .col-8 .row .col-1 .switch span {
  opacity: 0;
}
.about-header .container .col-8 .row .col-2 .search-bar {
  position: relative;
}
.about-header .container .col-8 .row .col-2 .search-bar .search .search__input {
  border-radius: 6px;
  border: none;
  padding: 10px 20px;
}
.about-header .container .col-8 .row .col-2 .search-bar .search .search__icon {
  position: absolute;
  top: 14px;
  left: 180px;
}
.about-header .about-extend {
  text-align: center;
  margin-top: 100px;
}
.about-header .about-extend .path li {
  display: inline;
  list-style: none;
}
.about-header .about-extend .path li a {
  text-decoration: none;
  color: #ff6600;
}
.about-header .about-extend .path li {
  color: #fff;
  font-weight: 700;
}
.blog {
  background-color: #f7f7f7;
}
.blog .container .blog-title {
  text-align: center;
  margin-bottom: 40px;
}
.blog .container .blog-title h3 {
  color: #ff6600;
  font-size: 18px;
  font-weight: 400;
  font-family: "Pacifico", cursive;
  letter-spacing: 1px;
}
.blog .container .blog-title h1 {
  color: #232121;
  font-size: 40px;
  font-weight: 600;
}
.blog .container .blog-content .blog-left .row .item .card {
  background-color: #f7f7f7;
  border: none;
}
.blog .container .blog-content .blog-left .row .item .card .card-header {
  padding: 0;
  overflow: hidden;
  position: relative;
}
.blog .container .blog-content .blog-left .row .item .card .card-header .post-extend {
  position: absolute;
  bottom: 12px;
  left: 44px;
  color: white;
}
.blog .container .blog-content .blog-left .row .item .card .card-header .post-extend a {
  text-decoration: none;
  padding: 3px 20px;
  background-color: #ff6600;
  border-radius: 35px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
.blog .container .blog-content .blog-left .row .item .card .card-header .post-extend span span {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}
.blog .container .blog-content .blog-left .row .item .card .card-body {
  background-color: #f7f7f7;
  padding: 0;
  margin: 24px 0;
}
.blog .container .blog-content .blog-left .row .item .card .card-body .card-title h3 {
  color: #232121;
  font-size: 24px;
  font-weight: 600;
}
.blog .container .blog-content .blog-left .row .item .card .card-body .card-title p {
  line-height: 28px;
  font-family: "Quicksand", sans-serif;
  color: rgba(22, 28, 45, 0.7);
  font-size: 18px;
  font-weight: 300;
}
.blog .container .blog-content .blog-left .row .item .card .card-footer {
  background-color: #f7f7f7;
  border: none;
  padding: 0;
}
.blog .container .blog-content .blog-left .row .item .card .card-footer .row .col-8 .people a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.blog .container .blog-content .blog-left .row .item .card .card-footer .row .col-8 .people a {
  text-decoration: none;
  color: #232121;
  font-weight: 700;
  padding-left: 10px;
}
.blog .container .blog-content .blog-left .row .item .card .card-footer .row .col-4 .readmore {
  color: #232121;
  font-size: 16px;
  font-weight: 700;
  opacity: 0.9;
  letter-spacing: 0.02em;
}
.blog .container .blog-content .blog-left .row .item .card .card-footer .row .col-4 .readmore:hover {
  color: #ff6600;
}
.blog .container .blog-content .blog-left .row .pagination-wrapper .page-pagination li {
  list-style: none;
  display: inline;
  background-color: transparent;
  padding: 8px 16px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-weight: 700;
}
.blog .container .blog-content .blog-left .row .pagination-wrapper .page-pagination li a {
  text-decoration: none;
  color: #5B606C;
}
.blog .container .blog-content .blog-right {
  background-color: #f7f7f7;
}
.blog .container .blog-content .blog-right .sticky .popular-post {
  background-color: #f7f7f7;
  margin-top: 45px;
}
.blog .container .blog-content .blog-right .sticky .popular-post .sidebar-title .title-left {
  font-size: 26px;
  font-weight: 600;
}
.blog .container .blog-content .blog-right .sticky .popular-post .sidebar-title .row .col-6 .post-recipe .post-thumb img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
.blog .container .blog-content .blog-right .sticky .popular-post .sidebar-title .row .col-6 .post-recipe .post-thumb .text-small {
  display: block;
  line-height: 22px;
  margin-top: 10px;
  color: #232121;
  font-size: 18px;
  font-weight: 700;
}
.blog .container .blog-content .blog-right .sticky .popular-post .post {
  padding: 0;
}
.blog .container .blog-content .blog-right .sticky .popular-post .post .row .post-thumb img {
  border-radius: 6px;
}
.blog .container .blog-content .blog-right .sticky .popular-post .post .row .col-7 {
  padding-top: 66px;
}
.blog .container .blog-content .blog-right .sticky .popular-post .post .row .col-7 a {
  text-decoration: none;
  line-height: 28px;
  display: inline-block;
  margin-bottom: 10px;
  color: #232121;
  font-size: 18px;
  font-weight: 700;
}
.blog .container .blog-content .blog-right .sticky .blog-category {
  background: #f7f7f7;
}
.blog .container .blog-content .blog-right .sticky .blog-category .sidebar-title .title-left {
  font-size: 26px;
  font-weight: 600;
}
.blog .container .blog-content .blog-right .sticky .blog-category .blog-cat li {
  list-style: square;
  color: rgba(22, 28, 45, 0.7);
  font-size: 18px;
  font-weight: 500;
}
.blog .container .blog-content .blog-right .sticky .blog-category .blog-cat li a {
  text-decoration: none;
  color: rgba(22, 28, 45, 0.7);
  font-size: 18px;
  font-weight: 500;
}
.blog .container .blog-content .blog-right .sidebar {
  background: #f7f7f7;
}
.blog .container .blog-content .blog-right .sidebar .sidebar-title .title-left {
  font-size: 26px;
  font-weight: 600;
}
.footer {
  background: #000;
  padding: 48px 0;
}
.footer .container {
  padding: 24px 15px;
}
.footer .container .footer-top .footer-list:first-child {
  padding-right: 48px;
}
.footer .container .footer-top .footer-list:first-child .footer-logo {
  margin-bottom: 16px;
}
.footer .container .footer-top .footer-list:first-child .footer-logo h2 a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.footer .container .footer-top .footer-list:first-child p {
  color: #a5a2a1;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
}
.footer .container .footer-top .footer-list:first-child .footer-social a {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #fff;
  color: #ff6600;
  border-radius: 6px;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.footer .container .footer-top .footer-list:first-child .footer-social a:hover {
  background: #ff6600;
  color: #fff;
}
.footer .container .footer-top .footer-list:first-child .footer-social a i {
  line-height: 36px;
}
.footer .container .footer-top .footer-list:nth-child(2) h6.footer-title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 30px;
}
.footer .container .footer-top .footer-list:nth-child(2) ul {
  padding-left: 0;
}
.footer .container .footer-top .footer-list:nth-child(2) ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer .container .footer-top .footer-list:nth-child(2) ul li a {
  text-decoration: none;
  color: #a5a2a1;
  font-size: 17px;
  font-weight: 600;
}
.footer .container .footer-top .footer-list:nth-child(2) ul li a:hover {
  color: #ff6600;
}
.footer .container .footer-top .footer-list:nth-child(3) h6.footer-title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 30px;
}
.footer .container .footer-top .footer-list:nth-child(3) ul {
  padding-left: 0;
}
.footer .container .footer-top .footer-list:nth-child(3) ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer .container .footer-top .footer-list:nth-child(3) ul li a {
  text-decoration: none;
  color: #a5a2a1;
  font-size: 17px;
  font-weight: 600;
}
.footer .container .footer-top .footer-list:nth-child(3) ul li a:hover {
  color: #ff6600;
}
.footer .container .footer-top .footer-list:last-child h6.footer-title {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
}
.footer .container .footer-top .footer-list:last-child p {
  color: #a5a2a1;
  font-size: 17px;
  font-weight: 400;
}
.footer .container .footer-top .footer-list:last-child form input {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 90%;
  border-radius: 6px;
  background: #fff;
  color: rgba(22, 28, 45, 0.7);
}
.footer .container .footer-top .footer-list:last-child form input:focus {
  border: 1px solid #ff6600;
  background-color: #fff;
}
.footer .container .footer-top .footer-list:last-child form .btn-orange {
  width: 90%;
}
.footer .container .footer-top .footer-list:last-child form .btn-orange:hover {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
  opacity: 0.8;
}

.footer-bottom {
  padding: 20px 0;
  background: #000;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.footer-bottom .container .bottom-copies .copy-footer {
  color: #ddd;
  font-size: 17px;
  font-weight: 400;
}
.footer-bottom .container .bottom-copies .copy-footer a {
  text-decoration: none;
  color: #ff6600;
  font-weight: 500;
}
.footer-bottom .container .bottom-copies .copy-footer a:hover {
  color: #fff;
}
.footer-bottom .container .bottom-copies .bottom-list ul {
  display: flex;
  padding-left: 0;
}
.footer-bottom .container .bottom-copies .bottom-list ul li {
  list-style: none;
}
.footer-bottom .container .bottom-copies .bottom-list ul li a {
  text-decoration: none;
  color: #a5a2a1;
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
}
.footer-bottom .container .bottom-copies .bottom-list ul li a:hover {
  color: #ff6600;
}