* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

@font-face {
  font-family: Pacifico;
  src: url(../../assets/fonts/Pacifico-Regular.ttf);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn-white {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 45px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.btn-white:hover {
  color: #ff6600;
  background-color: #fff;
  border: 2px solid #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 45px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
}

.btn-orange {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 45px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s ease-in;
}
.btn-orange:hover {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
  opacity: 0.8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

@font-face {
  font-family: Pacifico;
  src: url(../../assets/fonts/Pacifico-Regular.ttf);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.about-header {
  background-image: linear-gradient(to right, #ff6600, hsla(30deg, 100%, 1%, 0.2)), url(../../img/banner2.jpeg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 400px;
}
.about-header .container {
  padding-top: 20px;
}
.about-header .container .col-4 .logo h1 {
  color: #fff;
}
.about-header .container .col-8 .row .col-9 .menu ul li {
  list-style: none;
  display: inline;
}
.about-header .container .col-8 .row .col-9 .menu ul li a {
  text-decoration: none;
  margin-left: 5px;
  color: #fff;
  font-weight: 700;
}
.about-header .container .col-8 .row .col-9 .menu ul li a:hover {
  color: #ff6600;
}
.about-header .container .col-8 .row .col-1 .switch {
  color: #fff;
}
.about-header .container .col-8 .row .col-1 .switch span {
  opacity: 0;
}
.about-header .container .col-8 .row .col-2 .search-bar {
  position: relative;
}
.about-header .container .col-8 .row .col-2 .search-bar .search .search__input {
  border-radius: 6px;
  border: none;
  padding: 10px 20px;
}
.about-header .container .col-8 .row .col-2 .search-bar .search .search__icon {
  position: absolute;
  top: 14px;
  left: 180px;
}
.about-header .about-extend {
  text-align: center;
  margin-top: 100px;
}
.about-header .about-extend .path li {
  display: inline;
  list-style: none;
}
.about-header .about-extend .path li a {
  text-decoration: none;
  color: #ff6600;
}
.about-header .about-extend .path li {
  color: #fff;
  font-weight: 700;
}
.about {
  padding: 48px 0;
}
.about .container {
  padding: 48px 15px;
}
.about .container .row .col-5 h3 {
  color: #ff6600;
  font-size: 18px;
  font-weight: 400;
  font-family: "Pacifico", cursive;
  letter-spacing: 1px;
}
.about .container .row .col-5 h2 {
  color: #232121;
  font-size: 40px;
  font-weight: 600;
}
.about .container .row .col-7 p {
  color: #5B606C;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

.menu .container .row .menu-item {
  padding: 40px;
  border: 1px solid #eee;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
  border-radius: 6px;
}
.menu .container .row .menu-item:hover {
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}
.menu .container .row .menu-item:hover .item-heading .row .col-3 .icon {
  background-color: #ff6600;
  transition: all 1s;
}
.menu .container .row .menu-item:hover .item-heading .row .col-3 .icon span {
  color: #fff;
  transition: all 1s;
}
.menu .container .row .menu-item .item-heading .row .col-3 {
  text-align: center;
}
.menu .container .row .menu-item .item-heading .row .col-3 .icon {
  background-color: rgba(130, 115, 252, 0.05);
  border-radius: 6px;
  width: 85px;
  height: 85px;
}
.menu .container .row .menu-item .item-heading .row .col-3 .icon span {
  margin: 30px;
  font-size: 25px;
  color: #ff6600;
}
.menu .container .row .menu-item .item-heading .row .col-9 .info h4 {
  color: #232121;
  font-size: 24px;
  font-weight: 600;
}
.menu .container .row .menu-item .item-heading .row .col-9 .info h4:hover {
  color: #ff6600;
}
.mouth {
  background: url(../../img/banner2.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.mouth::before {
  content: "";
  background: rgba(16, 15, 19, 0.66);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  z-index: -1;
}
.mouth .container .mouth-content {
  max-width: 700px;
  margin: 0 auto;
}
.mouth .container .mouth-content .mouth-title {
  margin-bottom: 0;
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  max-width: 800px;
}
.mouth .container .mouth-content .mouth-buttons {
  padding-bottom: 48px;
}
.mouth .container .mouth-content .mouth-buttons a.btn-white {
  margin-right: 24px;
}
.mouth .container .mouth-content .mouth-buttons a.btn-white:hover {
  background-color: #fff;
  color: #ff6600;
}
.mouth .container .mouth-content .mouth-buttons a.btn-orange:hover {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
  opacity: 0.8;
}
.plan .container .plan-heading h3 {
  color: #ff6600;
  font-size: 18px;
  font-weight: 400;
  font-family: "Pacifico", cursive;
  letter-spacing: 1px;
}
.plan .container .plan-heading h1 {
  color: #232121;
  font-size: 40px;
  font-weight: 600;
}
.plan .container .plan-content .plan-item .disk .border-dot {
  margin-left: 0;
  margin-right: 10px;
  border-bottom: 2px dotted #bbb;
}
.plan .container .plan-content .plan-item .disk .border-dot .menu-item-name h6 {
  font-size: 20px;
  font-weight: 600;
}
.plan .container .plan-content .plan-item .disk .border-dot .menu-item-price h6 {
  color: #ff6600;
  font-size: 20px;
  font-weight: 600;
}
.plan .container .plan-content .plan-item .disk .disk-description p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
}

.footer {
  background: #000;
  padding: 48px 0;
}
.footer .container {
  padding: 24px 15px;
}
.footer .container .footer-top .footer-list:first-child {
  padding-right: 48px;
}
.footer .container .footer-top .footer-list:first-child .footer-logo {
  margin-bottom: 16px;
}
.footer .container .footer-top .footer-list:first-child .footer-logo h2 a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.footer .container .footer-top .footer-list:first-child p {
  color: #a5a2a1;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
}
.footer .container .footer-top .footer-list:first-child .footer-social a {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #fff;
  color: #ff6600;
  border-radius: 6px;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.footer .container .footer-top .footer-list:first-child .footer-social a:hover {
  background: #ff6600;
  color: #fff;
}
.footer .container .footer-top .footer-list:first-child .footer-social a i {
  line-height: 36px;
}
.footer .container .footer-top .footer-list:nth-child(2) h6.footer-title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 30px;
}
.footer .container .footer-top .footer-list:nth-child(2) ul {
  padding-left: 0;
}
.footer .container .footer-top .footer-list:nth-child(2) ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer .container .footer-top .footer-list:nth-child(2) ul li a {
  text-decoration: none;
  color: #a5a2a1;
  font-size: 17px;
  font-weight: 600;
}
.footer .container .footer-top .footer-list:nth-child(2) ul li a:hover {
  color: #ff6600;
}
.footer .container .footer-top .footer-list:nth-child(3) h6.footer-title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 30px;
}
.footer .container .footer-top .footer-list:nth-child(3) ul {
  padding-left: 0;
}
.footer .container .footer-top .footer-list:nth-child(3) ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer .container .footer-top .footer-list:nth-child(3) ul li a {
  text-decoration: none;
  color: #a5a2a1;
  font-size: 17px;
  font-weight: 600;
}
.footer .container .footer-top .footer-list:nth-child(3) ul li a:hover {
  color: #ff6600;
}
.footer .container .footer-top .footer-list:last-child h6.footer-title {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
}
.footer .container .footer-top .footer-list:last-child p {
  color: #a5a2a1;
  font-size: 17px;
  font-weight: 400;
}
.footer .container .footer-top .footer-list:last-child form input {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 90%;
  border-radius: 6px;
  background: #fff;
  color: rgba(22, 28, 45, 0.7);
}
.footer .container .footer-top .footer-list:last-child form input:focus {
  border: 1px solid #ff6600;
  background-color: #fff;
}
.footer .container .footer-top .footer-list:last-child form .btn-orange {
  width: 90%;
}
.footer .container .footer-top .footer-list:last-child form .btn-orange:hover {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
  opacity: 0.8;
}

.footer-bottom {
  padding: 20px 0;
  background: #000;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.footer-bottom .container .bottom-copies .copy-footer {
  color: #ddd;
  font-size: 17px;
  font-weight: 400;
}
.footer-bottom .container .bottom-copies .copy-footer a {
  text-decoration: none;
  color: #ff6600;
  font-weight: 500;
}
.footer-bottom .container .bottom-copies .copy-footer a:hover {
  color: #fff;
}
.footer-bottom .container .bottom-copies .bottom-list ul {
  display: flex;
  padding-left: 0;
}
.footer-bottom .container .bottom-copies .bottom-list ul li {
  list-style: none;
}
.footer-bottom .container .bottom-copies .bottom-list ul li a {
  text-decoration: none;
  color: #a5a2a1;
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
}
.footer-bottom .container .bottom-copies .bottom-list ul li a:hover {
  color: #ff6600;
}