* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.header .container {
  margin-top: 24px;
}
.header .container .col-8 .logo h1 {
  color: #fff;
}
.header .container .col-4 .search-bar {
  position: relative;
}
.header .container .col-4 .search-bar .search .search__input {
  border-radius: 6px;
  border: none;
  padding: 10px 20px;
}
.header .container .col-4 .search-bar .search .search__icon {
  position: absolute;
  top: 14px;
  left: 180px;
}
.header .container .col-4 .overlay nav ul li {
  list-style: none;
}
.header .container .col-4 .overlay nav ul li a {
  text-decoration: none;
  color: white;
}

.dinerCarousel {
  background-image: linear-gradient(to right, #ff6600, hsla(30deg, 100%, 1%, 0.2)), url(../img/banner1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: initial;
  min-height: 700px;
  position: relative;
  width: 100%;
  height: 100%;
}
.dinerCarousel .container .dinerCarousel-content {
  position: absolute;
  top: 30%;
  width: 40%;
}
.dinerCarousel .container .dinerCarousel-content h3 {
  color: #fff;
  font-size: 54px;
  text-transform: capitalize;
  margin-bottom: 24px;
  font-weight: 600;
  line-height: 64px;
}
.dinerCarousel .container .dinerCarousel-content p {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 48px;
}
.about {
  margin-top: 100px;
}
.about .container .row .col-5 h3 {
  color: #ff6600;
  font-size: 18px;
  font-weight: 400;
  font-family: "Pacifico", cursive;
  letter-spacing: 1px;
}
.about .container .row .col-5 h2 {
  color: #232121;
  font-size: 40px;
  font-weight: 600;
}
.about .container .row .col-7 p {
  color: #5B606C;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

.team .container .team-title {
  text-align: center;
}
.team .container .team-title h3 {
  color: #ff6600;
  font-size: 18px;
  font-weight: 400;
  font-family: "Pacifico", cursive;
  letter-spacing: 1px;
}
.team .container .team-title h1 {
  color: #232121;
  font-size: 40px;
  font-weight: 600;
}
.team .container .team-content .row .col-4 .team-item {
  position: relative;
}
.team .container .team-content .row .col-4 .team-item:hover .content h3 a {
  color: #ff6600;
  font-size: 24px;
  font-weight: 700;
}
.team .container .team-content .row .col-4 .team-item:hover .team-contact i {
  opacity: 1;
  transition: 0.5s;
}
.team .container .team-content .row .col-4 .team-item .team-thumbnail img {
  width: 100%;
  border-radius: 6px;
}
.team .container .team-content .row .col-4 .team-item .content {
  text-align: center;
  margin-top: 24px;
}
.team .container .team-content .row .col-4 .team-item .content h3 a {
  color: #232121;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}
.team .container .team-content .row .col-4 .team-item .team-contact {
  position: absolute;
  top: 290px;
  left: 120px;
}
.team .container .team-content .row .col-4 .team-item .team-contact i {
  margin: 0 10px;
  background-color: rgba(157, 157, 157, 0.5);
  color: #fff;
  padding: 12px;
  border-radius: 50%;
  opacity: 0;
}

.menu .container .row .menu-item {
  padding: 40px;
  border: 1px solid #eee;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
  border-radius: 6px;
}
.menu .container .row .menu-item:hover {
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}
.menu .container .row .menu-item:hover .item-heading .row .col-3 .icon {
  background-color: #ff6600;
  transition: all 1s;
}
.menu .container .row .menu-item:hover .item-heading .row .col-3 .icon span {
  color: #fff;
  transition: all 1s;
}
.menu .container .row .menu-item .item-heading .row .col-3 {
  text-align: center;
}
.menu .container .row .menu-item .item-heading .row .col-3 .icon {
  background-color: rgba(130, 115, 252, 0.05);
  border-radius: 6px;
  width: 85px;
  height: 85px;
}
.menu .container .row .menu-item .item-heading .row .col-3 .icon span {
  margin: 30px;
  font-size: 25px;
  color: #ff6600;
}
.menu .container .row .menu-item .item-heading .row .col-9 .info h4 {
  color: #232121;
  font-size: 24px;
  font-weight: 600;
}
.menu .container .row .menu-item .item-heading .row .col-9 .info h4:hover {
  color: #ff6600;
}
.contact .container .contact-title {
  text-align: center;
}
.contact .container .contact-title h3 {
  color: #ff6600;
  font-size: 18px;
  font-weight: 400;
  font-family: "Pacifico", cursive;
  letter-spacing: 1px;
}
.contact .container .contact-title h1 {
  color: #232121;
  font-size: 40px;
  font-weight: 600;
}
.contact .container .contact-title p {
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
}
.contact .container .contact-content .row .form-control {
  background-color: #f7f7f7;
  margin-bottom: 24px;
  font-size: 18px;
  padding: 12px 20px;
  line-height: 28px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 6px;
}
.contact .container .contact-btn .btn btn-primary {
  padding: 12px 45px;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6600;
}

.btn-white {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 45px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.btn-white:hover {
  color: #ff6600;
  background-color: #fff;
  border: 2px solid #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 45px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
}