// GLOBAL
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

// HEADER
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

// CAROUSEL
.dinerCarousel {
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../img/banner1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: initial;
    min-height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dinerCarousel .dinerCarousel__content {
    position: absolute;
    top: 50%;
}

    

