.banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgb(236 98 6 / 98%), rgb(5 3 0 / 83%)), url(../../img/banner2.jpeg);
    background-attachment: fixed;
    min-height: 350px;

    .container {
        .banner-header {
            display: grid;
            grid-template-columns: 4fr 1fr;
            grid-gap: 20px;
            padding: $padding-40 0 $padding-20 0;
            align-items: center;

            .banner-logo {
                h1 {
                    a {
                        @include text($color-white-0, $fs-38 - 2, $fw-0);
                        text-decoration: none;
                    }
                }
            }

            .banner-content {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 20px;
                align-items: center;
                .search-bar {
                    display: flex;
                    .banner-form {
                        position: relative;
                        .search-input {
                            padding: $padding-0 - 2 $padding-48 + 2 $padding-0 - 2 $padding-20;
                            height: 45px;
                            font-size: $fs-0;
                            color: $color-black-1;
                            font-weight: $fw-heading-c1;
                            border-radius: $border-radius-0;
                            background: $bg-color-0;
                            outline: 0;
                            border: 1px solid $bg-color-0;
                        }

                        i {
                            position: absolute;
                            right: 20px;
                            top: 15px;
                            color: $color-black-1;
                            cursor: pointer;
                        }
                    }
                }

                .mode-icon {
                    a {
                        i {
                            font-size: $fs-25;
                            color: $color-white-0;
                        }
                    }
                }

                .nav-button {
                    a {
                        i {
                            font-size: $fs-25;
                            color: $color-white-0;
                        }
                    }
                }
            }
        }

        .banner-text {
            font-size: $fs-0 + 2;
            font-weight: $fw-heading-c2;
            color: $color-white-0;
            padding-top: $padding-81;
            a {
                text-decoration: none;
                color: $color-orange-0;
                padding-right: $padding-0 - 7;
            }
            i {
                padding-right: $padding-0 - 7;
                font-size: $fs-0;
            }
            span {}
        }
    }
}

.error {
    .container {
        .error-content {
            max-width: 600px;
            margin: 0 auto;

            h1 {
                font-size: $fs-130;
                font-weight: $fw-0;
                color: $color-black-0;
                letter-spacing: 5px;

                i {
                    font-size: $fs-130 - 20;
                }
            }

            h2 {
                @include text($color-black-0, $fs-2 + 4, $fw-heading-c2);
                margin-bottom: $margin-4 + 2;
            }

            p {
                margin-bottom: 0;
                font-size: $fs-0 + 2;
                line-height: $line-height-0;
                color: $color-black-1;
            }

            .error-form {
                position: relative;
                max-width: 500px;
                margin: auto;
                display: flex;
                align-items: center;

                .error-control {
                    @include text($color-black-1, $fs-0 + 2, $fw-1);
                    padding: $padding-0 $padding-120 $padding-0 $padding-24 + 1;
                    border-radius: $border-radius-0;
                    background: $bg-grey-1;
                    line-height: $line-height-0;
                    height: 55px;
                    border: 1px solid $color-grey-3;
                    margin-right: $margin-15 + 20;

                }

                .btn-orange {
                    font-size: $fs-0 + 2;
                    font-weight: $fw-heading-c2;
                    padding: $padding-0 $padding-40;

                    &:hover {
                        color: $color-white-0;
                        background-color: $bg-orange;
                        border: 2px solid $bg-orange;
                        opacity: 0.8;
                    }
                }
            }

            a {
                @include text($color-black-0, $fs-0 + 2, $fw-0);
                text-decoration: none;
                display: block;
                margin-top: $margin-40 + 8;

                &:hover {
                    color: $color-orange-0;
                }

                i {}
            }
        }
    }
}