//HELPERS
@import "../Helpers/variables";
@import "../Helpers/mixin";
//BASE
@import "../Base/reset";
//COMPONENT
@import "../Components/button";
//BASE
@import "../Base/reset";
//HEADER
.about-header {
    background-image: linear-gradient(to right, #ff6600, hsla(30deg, 100%, 1%, 0.2)),url(../../img/banner2.jpeg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 400px;
    .container{
        padding-top: $padding-20;
       .col-4{
        .logo{
            h1{
                color: $color-white-0;
            }
        }
       }
       .col-8{
        .row{
            .col-9{
                .menu{
                    ul{
                        li{
                            list-style: none;
                            display: inline;
                            a{
                                text-decoration: none;
                                margin-left: 5px;
                                color: $color-white-0;
                                font-weight: $fw-0;
                                
                                &:hover{
                                    color:$color-orange-0 ;
                                }
                            }
                        }
                    }
                }
            }
            .col-1{
                .switch{
                    color: $color-white-0   ;
                    span{
                        opacity: 0;
                    }
                    i{
                        
                    }
                }
            }
            .col-2{
                .search-bar{
                    position: relative;
                    .search{
                        .search__input{
                            border-radius: 6px;
                            border: none;
                            padding: 10px 20px;
                        }
                        .search__icon{
                            position: absolute;
                            top: 14px;
                            left: 180px;
                        }
                    }
                }
            }
        }
       }
    }
    .about-extend{
        text-align: center;
        margin-top: 100px;
        .path{
            li{
                display: inline;
                list-style: none;
                a{
                    text-decoration: none;
                    color: $color-orange-0;
                }
            }
            li{
                color: $color-white-0;
                font-weight: $fw-0;
                span{

                }
            }
        }
    }
}
//Blog
.blog{
    background-color: $bg-grey-1;
    .container{
        .blog-title{
            text-align: center;
            margin-bottom: $margin-40;
            h3{
                @include text($color-orange-0,$fs-heading-c1,$fw-heading-c1);
                font-family: 'Pacifico', cursive;
                letter-spacing: 1px;
            }
            h1{
                @include text($color-black-0,$fs-heading-c2,$fw-heading-c2);
            }
        }
        .blog-content{
            .blog-left{
                .row{
                    .item{
                         .card{
                                background-color: $bg-grey-1;

                            border: none;
                             .card-header{
                                padding: 0;
                                overflow: hidden;
                                position: relative;
                                 a{
                                     img{}
                                 }
                                 .post-extend{
                                    position: absolute;
                                    bottom: 12px;
                                    left: 44px;
                                    color: white;
                                     a{
                                        
                                        
                                        text-decoration: none;
                                        padding: 3px 20px;
                                        background-color: $color-orange-0;
                                        border-radius: $border-radius-35    ;
    
                                        @include text($color-white-0,$fs-12,$fw-0);
                                     }
                                     span{
                                         span{ @include text($color-white-0,$fs-15,$fw-text);}
                                     }
                                 }
                             }
                             .card-body{
                                background-color: $bg-grey-1;

                                padding: 0;
                                margin:$margin-0 0 ;
                                 .card-title{
                                     h3{
                                         @include text(#232121,$fs-2,$fw-heading-c2);
                                     }
                                     p{
                                        
                                         
                                        line-height: 28px;   
                                        font-family: 'Quicksand', sans-serif;
                                        @include text(rgba(22, 28, 45, 0.7),$fs-text,$fw-text);
                                     }
                                 }
                             }
                             .card-footer{
                                background-color: $bg-grey-1;

                                border: none;
                                padding: 0;
                                 .row{
                                     .col-8{
                                         .people{
                                             a{
                                                
                                                 img{
                                                    width: 40px;
                                                    height: 40px;
                                                    border-radius: 50%;
                                                }
                                             }
                                             a{
                                                text-decoration: none;
                                                color: #232121;
                                                font-weight: $fw-0;
                                                padding-left: 10px;
                                            }
                                         }
                             }
                                     .col-4{
                                     .readmore{
                                            @include text(#232121,$fs-0,$fw-0);
                                            opacity: 0.9;
        
                                            letter-spacing: .02em;
                                            &:hover{
                                                color: $color-orange-0;
                                            }
       
                                            span{}
                                        }
                                     }
                                 }
                             }
                         }
                    }
                    .pagination-wrapper{
                        .page-pagination{
                            li{
                                list-style: none;
                                display: inline;
                                background-color: transparent;
                                padding: 8px 16px;
                                border: 1px solid $color-grey-3;
                                border-radius: $border-radius-0;
                                font-weight: $fw-0;
                                .current{
                                    
                                    // background-color: $color-orange-0 !important;
                                    
                                }
                                a{
                                    text-decoration: none;
                                    color: $color-grey-0;
                                }
                            }
                        }
                    }
                }
            }
            .blog-right{
                background-color: $bg-grey-1;

                .sticky{
                    .popular-post{
                    background-color: $bg-grey-1;
                    margin-top: 45px;
                    .sidebar-title{
                        .title-left{
                            font-size: 26px;
                            font-weight: $fw-heading-c2;
                        }
                        .row{
                            .col-6{
                                .post-recipe{   
                                    .post-thumb{
                                        img{
                                            width: 100%;
                                            height: auto;
                                            border-radius: $border-radius-0;
                                        }
                                        .text-small{
                                            display: block;
                                            line-height: 22px;
                                            margin-top: 10px;
                                            @include text($color-black-0,$fs-heading-c1,$fw-0);
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                }
                .popular-post{
                    .sidebar-title{
                        .title-left{}
                    }
                    .post{
                        padding: 0;
                        .row{
                            .post-thumb{
                                img{
                                    border-radius: $border-radius-0;
                                }
                            }
                            .col-7{
                                padding-top: 66px;
                                a{
                                    text-decoration: none;
                                    
                                    line-height: 28px;
                                    display: inline-block;
                                    margin-bottom: 10px;
                                   
                                    @include text($color-black-0,$fs-text,$fw-0);
                                }
                                .post-info{

                                }
                            }
                        }
                    }
                }
                .blog-category{
                    background: $bg-grey-1;
                    .sidebar-title{
                        
                        .title-left{
                            font-size: 26px;
                            font-weight: $fw-heading-c2;
                        }
                    }
                        .blog-cat{
                            
                            li{
                                list-style: square;
                                @include text($color-black-1,$fs-text,500);
                                a{
                                    text-decoration: none;
                                    @include text($color-black-1,$fs-text,500);
                                }
                            }
                        }
                    }
                }
                .sidebar{
                    background: $bg-grey-1;

                    .sidebar-title{
                        
                        .title-left{
                            font-size: 26px;
                            font-weight: $fw-heading-c2;
                        }
                        a{
                            img{

                            }
                        }
                    }
                }
                    }
                        
                }
            }
        }
    
//FOOTER
@import "../Layouts/footer";
