.footer {
    background: $bg-black;

    .container {
        padding: $padding-72 $padding-16 - 1;
        padding-bottom: 0;
        .footer-top {
            .footer-list:first-child {
                padding-right: $padding-48;
                .footer-logo {
                    margin-bottom: $margin-3;
                    h2 {
                        a {
                            text-decoration: none;
                            @include text($color-white-0, $fs-30, $fw-heading-c2);

                        }
                    }
                }

                p {
                    @include text($color-grey-1, $fs-0 + 1, $fw-heading-c1);
                    line-height: $line-height-0 - 2;
                }

                .footer-social {
                    a {
                        display: inline-block;
                        width: 36px;
                        height: 36px;
                        line-height: $line-heigh-36;
                        text-align: center;
                        background: $bg-color-0;
                        color: $color-orange-0;
                        border-radius: $border-radius-0;
                        font-size: $fs-0;
                        margin-right: $margin-4 + 2;
                        text-decoration: none;
                        transition: all .4s ease-in-out;

                        &:hover {
                            background: $bg-orange;
                            color: $color-white-0;
                        }
                        i {
                            line-height: $line-heigh-36;
                        }
                    }
                }
            }

            .footer-list:nth-child(2) {
                h6.footer-title {
                    @include text($color-white-0, $fs-20 + 2, $fw-0);
                    line-height: $line-height-0;
                    margin-bottom: $margin-1;
                }
                ul {
                    padding-left: 0;
                    li {
                        list-style: none;
                        margin-bottom: $margin-4 + 2;
                        a {
                            text-decoration: none;
                            @include text($color-grey-1, $fs-0 + 1, $fw-heading-c2);

                            &:hover {
                                color: $color-orange-0;
                            }
                        }
                    }
                }
            }

            .footer-list:nth-child(3) {
                h6.footer-title {
                    @include text($color-white-0, $fs-20 + 2, $fw-0);
                    line-height: $line-height-0;
                    margin-bottom: $margin-1;
                }
                ul {
                    padding-left: 0;
                    li {
                        list-style: none;
                        margin-bottom: $margin-4 + 2;
                        a {
                            text-decoration: none;
                            @include text($color-grey-1, $fs-0 + 1, $fw-heading-c2);

                            &:hover {
                                color: $color-orange-0;
                            }
                        }
                        
                    }
                }
            }

            .footer-list:last-child {
                h6.footer-title {
                    @include text($color-white-0, $fs-20 + 2, $fw-heading-c1);
                    line-height: $line-height-0;
                    margin-bottom: $margin-1;
                }

                p {
                    @include text($color-grey-1, $fs-0 + 1, $fw-heading-c1);
                }

                form {
                    input {
                        padding: $padding-14 $padding-20;
                        font-size: $fs-heading-c1;
                        line-height: $line-height-0;
                        border: 1px solid transparent;
                        outline: none;
                        width: 90%;
                        border-radius: $border-radius-0;
                        background: $bg-color-0;
                        color: $color-black-1;
                    }

                    .btn-orange {
                        width: 90%;
                    }
                }
            }
        }

        .footer-bottom {
            padding-top: $padding-72;
            .bottom-copies {
                .copy-info {
                    a {}
                }

                .bottom-list {
                    ul {
                        li {
                            a {}
                        }
                    }
                }
            }
        }
    }
}