.footer {
    background: $bg-black;
    padding: $padding-48 0;

    .container {
        padding: $padding-24 $padding-14 + 1;

        .footer-top {
            .footer-list:first-child {
                padding-right: $padding-48;

                .footer-logo {
                    margin-bottom: $margin-3;

                    h2 {
                        a {
                            text-decoration: none;
                            @include text($color-white-0, $fs-30, $fw-heading-c2);

                        }
                    }
                }

                p {
                    @include text($color-grey-1, $fs-0 + 1, $fw-heading-c1);
                    line-height: $line-height-0 - 2;
                }

                .footer-social {
                    a {
                        display: inline-block;
                        width: 36px;
                        height: 36px;
                        line-height: $line-heigh-36;
                        text-align: center;
                        background: $bg-color-0;
                        color: $color-orange-0;
                        border-radius: $border-radius-0;
                        font-size: $fs-0;
                        margin-right: $margin-4 + 2;
                        text-decoration: none;
                        transition: all .4s ease-in-out;

                        &:hover {
                            background: $bg-orange;
                            color: $color-white-0;
                        }

                        i {
                            line-height: $line-heigh-36;
                        }
                    }
                }
            }

            .footer-list:nth-child(2) {
                h6.footer-title {
                    @include text($color-white-0, $fs-20 + 2, $fw-0);
                    line-height: $line-height-0;
                    margin-bottom: $margin-1;
                }

                ul {
                    padding-left: 0;

                    li {
                        list-style: none;
                        margin-bottom: $margin-4 + 2;

                        a {
                            text-decoration: none;
                            @include text($color-grey-1, $fs-0 + 1, $fw-heading-c2);

                            &:hover {
                                color: $color-orange-0;
                            }
                        }
                    }
                }
            }

            .footer-list:nth-child(3) {
                h6.footer-title {
                    @include text($color-white-0, $fs-20 + 2, $fw-0);
                    line-height: $line-height-0;
                    margin-bottom: $margin-1;
                }

                ul {
                    padding-left: 0;

                    li {
                        list-style: none;
                        margin-bottom: $margin-4 + 2;

                        a {
                            text-decoration: none;
                            @include text($color-grey-1, $fs-0 + 1, $fw-heading-c2);

                            &:hover {
                                color: $color-orange-0;
                            }
                        }

                    }
                }
            }

            .footer-list:last-child {
                h6.footer-title {
                    @include text($color-white-0, $fs-20 + 2, $fw-heading-c1);
                    line-height: $line-height-0;
                    margin-bottom: $margin-1;
                }

                p {
                    @include text($color-grey-1, $fs-0 + 1, $fw-heading-c1);
                }

                form {
                    input {
                        padding: $padding-14 $padding-20;
                        font-size: $fs-heading-c1;
                        line-height: $line-height-0;
                        border: 1px solid transparent;
                        outline: none;
                        width: 90%;
                        border-radius: $border-radius-0;
                        background: $bg-color-0;
                        color: $color-black-1;

                        &:focus {
                            border: 1px solid $bg-orange;
                            background-color: $bg-color-0;
                        }
                    }

                    .btn-orange {
                        width: 90%;
                        &:hover{
                            color: $color-white-0;
                            background-color: $color-orange-0;
                            border: 2px solid $color-orange-0;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}

.footer-bottom {
    padding: $padding-20 0;
    background: $bg-black;
    border-top: 1px solid rgb(255 255 255 / 5%);

    .container {
        .bottom-copies {
            .copy-footer {
                color: $color-grey-2;
                font-size: $fs-0 + 1;
                font-weight: $fw-heading-c1;

                a {
                    text-decoration: none;
                    color: $color-orange-0;
                    font-weight: $fw-1;

                    &:hover {
                        color: $color-white-0;
                    }
                }
            }

            .bottom-list {

                ul {
                    display: flex;
                    padding-left: 0;

                    li {
                        list-style: none;

                        a {
                            text-decoration: none;
                            color: $color-grey-1;
                            font-size: $fs-0 + 1;
                            line-height: $line-height-0 - 2;
                            font-weight: $fw-1;

                            &:hover {
                                color: $color-orange-0;
                            }
                        }
                    }
                }
            }
        }
    }
}