.resto {
    .container-fluid {
        .row {
            .resto-left {
                padding: 0;
                .photo {
                    background: url(../../img/banner3.jpeg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    min-height: 600px;
                    position: relative;
                }
            }
            .resto-right {}
        }
    }
}