// Color 
$color-white-0: #fff;
$color-black-0: #232121;
$color-black-1: rgba(22, 28, 45, 0.7); 
$color-orange-0: #ff6600; 
$color-orange-1: #ffdfc9;
$color-yellow-0: #ffc600;
$color-grey-0: #5B606C;
$color-grey-1: #a5a2a1; 
$color-grey-2: #ddd;
$color-grey-3: #ced4da;
    


// Background-color
$bg-color-0: #fff;
$bg-light: rgba(130, 115, 252, .05);
$bg-grey-1:#f7f7f7;
$bg-orange: #ff6600;
$bg-black: #000;

// Font-size
$fs-0: 16px;
$fs-heading-c1:18px;
$fs-heading-c2:40px;
$fs-45: 45px;
$fs-1: 54px;
$fs-text:18px;
$fs-2:24px;
$fs-25:25px;
$fs-12:12px;
$fs-15:15px;
$fs-20: 20px;
$fs-30: 30px;
$fs-38:38px;
$fs-130: 130px;

// Font-weight
$fw-0: 700;
$fw-1: 500;
$fw-text:300;
$fw-heading-c1:400;
$fw-heading-c2:600;

// Line-height 
$line-height-0: 28px; 
$line-heigh-36: 36px;
$line-height-48: 48px;
$line-height-70: 70px;
$line-height-64: 64px;

// Padding 
$padding-0: 12px;
$padding-1: 45px;
$padding-14: 14px;
$padding-16: 16px;
$padding-20: 20px; 
$padding-24: 24px;  
$padding-40: 40px;
$padding-48: 48px;
$padding-81: 81px;
$padding-120: 120px;

// Margin
$margin-0: 24px;
$margin-1: 30px;
$margin-2: 48px;
$margin-3: 16px;
$margin-4: 8px;
$margin-70: -70px;
$margin-40: 40px;
$margin-15: 15px;

// Border-radius
$border-radius-0: 6px;
$border-radius-5:50%;
$border-radius-35:35px;

//width
$width-70:70px;

//height
$height-70:70px;

//border
$border-light:#eee;